@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: Outfit;
}


@layer utilities {


    .text-home-heading-small {
        @media(width<=40rem){
        font-size: 28px;
        }
        @media(width>40rem){
            font-size: 48px;
        }
     }  
    

}